{% extends "base.html" %}

{% block page-title %}LVS Admin{% endblock %}
{% block content-title %}LVS Admin{% endblock %}


{% block page-content%}
<!--BEGIN MODAL CONFIG PORTLET-->
{% include "ipvsadmin/panel-deletevs.html" %}
<!--END MODAL CONFIG PORTLET-->

<div id="add-rs-modal-config" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                    &times;</button>
                <h4 class="modal-title">
                    Add real server</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body pan">
                    <div class="form-body pal">
                        <div class="form-group">
                           <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="{{rsform.ip.id_for_label}}" class="control-label">{{rsform.ip.label}}</label>
                                        {{rsform.ip}}
                                        {% include "ipvsadmin/error-div.html" with field=rsform.ip only %}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                    <label for="{{rsform.port.id_for_label}}" class="control-label">{{rsform.port.label}}</label>
                                    {{rsform.port}}
                                    {% include "ipvsadmin/error-div.html" with field=rsform.port only %}
                                    </div>
                                </div>
                           </div>
                           <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                    <label for="{{rsform.type.id_for_label}}" class="control-label">{{rsform.type.label}}</label>
                                    {{rsform.type}}
                                        {% include "ipvsadmin/error-div.html" with field=rsform.type only %}
                                    </div>
                                </div>
                            </div>
                           
                           <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                    <label for="{{rsform.weight.id_for_label}}" class="control-label">{{rsform.weight.label}}</label>
                                    {{rsform.weight}}
                                        {% include "ipvsadmin/error-div.html" with field=rsform.weight only %}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                    <label for="{{rsform.lthreshold.id_for_label}}" class="control-label">{{rsform.lthreshold.label}}</label>
                                    {{rsform.lthreshold}}
                                        {% include "ipvsadmin/error-div.html" with field=rsform.lthreshold only %}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                    <label for="{{rsform.uthreshold.id_for_label}}" class="control-label">{{rsform.uthreshold.label}}</label>
                                    {{rsform.uthreshold}}
                                        {% include "ipvsadmin/error-div.html" with field=rsform.uthreshold only %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">
                    Close</button>
                <button id="modal-button-add" type="button" class="btn btn-primary">
                    Add</button>
            </div>
        </div>
    </div>
</div>


<div class="row mbl">
    <div class="col-lg-6">
        <div class="panel panel-green">
            <div class="panel-heading">Ipvsadmin</div>
            <div class="panel-body">
                <table id="ipvs-table" class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>IpVs</th>
                        <th>IP</th>
                        <th>Mode</th>
                        <th>Weight</th>
                        <th/>
                    </tr>
                    </thead>
                    <tbody>
                        {% include "ipvsadmin/ipvsadminboad.html" %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% include "ipvsadmin/panel-addvs.html" %}

<div class="row mbl">
    <div class="col-lg-6">
        <div class="note note-warning"><h4 class="box-heading">Warning! Do not use this tool if you use keepalived</h4>
        <p>Keepalived modifies LVS. Any changes made by this interface could be automatically modified by Keepalived.</p></div>
    </div>
</div>
{% endblock %}

{% block page-footer%}
<script>    
     $("#add_virtual_server :radio").on('ifChecked',function (event) {
        if('FWM' == this.value){
            $('#div_{{vsform.ip.id_for_label}}').hide('slow')
            $('#div_{{vsform.fwmark.id_for_label}}').show('slow')
        }else if('TCP' == this.value || 'UDP' == this.value ){
            $('#div_{{vsform.fwmark.id_for_label}}').hide('slow')
            $('#div_{{vsform.ip.id_for_label}}').show('slow')
        }
    });
    
    $( "#add_virtual_server :radio" ).each(function( index ) {
        switch ($( this ).prop('value')) {
            case "TCP":
            case "UDP":
                if($( this ).prop('checked')){
                    $('#div_{{vsform.fwmark.id_for_label}}').hide()
                    $('#div_{{vsform.ip.id_for_label}}').show()
                }
                break;
            case "FWM":
                if($( this ).prop('checked')){
                    $('#div_{{vsform.fwmark.id_for_label}}').show()
                    $('#div_{{vsform.ip.id_for_label}}').hide()
                }
        }
    });     
             
    function refrash_ipvstable_contenet() {
        $('#ipvs-table > tbody').load('{% url 'ipvsadmin:content.ipvsadm.table'%}', function() {
            $('#ipvs-table > tbody > tr > td > a > i[data-weight]').on('click', button_weight_change)
        })  
    }
    
    // bind event to img
    $('#ipvs-table > tbody > tr > td > a > i[data-weight]').on('click', button_weight_change)
    function button_weight_change(event) {
        event.preventDefault();
        var button = $(this)   
        var mode = button.data('mode') 
        var port = button.data('port') 
        var realserv = button.data('realserver')
        var weight = button.data('weight')
        var realsmode = button.data('realsmode')
        
        $.ajax({url: '/ipvsadmin/ajax/weight/'+mode+'/'+port+'/'+realserv+'/'+weight+'/'+realsmode,
        type: 'GET',
                dataType: 'json',
                timeout: 2000,
                success: function(json_data){
                    $('#messages').empty()          
                    refrash_ipvstable_contenet()
                },
                error: function(){
                    $('#messages').empty()           
                    message_error('Some problem with server. Try again') 
                    refrash_ipvstable_contenet()
                }
        })
    }

    $('#modal-config').on('show.bs.modal', function (event) {
        var modal = $(this)                                                    
        var targetButton = $('.modal-footer #modal-button-delete')
                                                         
        var button = $(event.relatedTarget)
        var mode = button.data('mode') 
        var port = button.data('port') 
        var realserv = button.data('realserver') 
        
        // clone data
        targetButton.data('mode',mode)
        targetButton.data('port',port)
        
        var txt = 'Mode: '+mode+' Address:'+port
        if(null != realserv){
            txt += ' Real server: '+realserv
            
           targetButton.data('realserver',realserv)
        }else{
           targetButton.data('realserver',null) 
        }
        
        modal.find('.modal-body #modal-body-footer').text(txt)        
    })
    
    $('.modal-footer #modal-button-delete').on('mousedown', function (event) {
        var targetButton = $('.modal-footer #modal-button-delete')       
        var mode = targetButton.data('mode')
        var port = targetButton.data('port')
        var realserv = targetButton.data('realserver')
        
        if(null == realserv){ 
            $.ajax({url: '/ipvsadmin/ajax/deletevs/'+mode+'/'+port,
                type: 'GET',
                        dataType: 'json',
                        timeout: 2000,
                        success: function(json_data){
                            $('#messages').empty()          
                            message_info('Virtual server has been removed.') 
                            refrash_ipvstable_contenet()
                        },
                        error: function(){
                            $('#messages').empty()           
                            message_error('Some problem with server. Try again') 
                            refrash_ipvstable_contenet()
                        }
                }); 
        }else{
             $.ajax({url: '/ipvsadmin/ajax/deleterealserv/'+mode+'/'+port+'/'+realserv,
                type: 'GET',
                        dataType: 'json',
                        timeout: 2000,
                        success: function(json_data){
                            $('#messages').empty()          
                            message_info('Server has been removed.') 
                            refrash_ipvstable_contenet()
                        },
                        error: function(){
                            $('#messages').empty()           
                            message_error('Some problem with server. Try again') 
                            refrash_ipvstable_contenet()
                        }
                });    
        
        }                                                                  
        $('#modal-config').modal('hide');
    })
</script>

{% endblock %}

