<div class="row mbl">
    <div class="col-lg-6">
        <div class="panel panel-grey">
            <div class="panel-heading">Add virtual server</div>
            <div class="panel-body pan">
                <form id="add_virtual_server" method="post" action="{% url 'ipvsadmin:index'%}">
                    {% csrf_token %}
                    <div class="form-body pal">
                        <div class="form-group">
                            <div class="radio">                            
                                {% for radio in vsform.type%}
                                    {{ radio.tag }}
                                    <label for="{{ radio.id_for_label }}" class="radio-inline">
                                    &nbsp;{{ radio.choice_label }}
                                    </label>
                                {% endfor %}
                            </div>
                            {% include "ipvsadmin/error-div.html" with field=vsform.type only %}
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="row" id="div_{{vsform.ip.id_for_label}}" style="display: none;">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="{{vsform.ip.id_for_label}}" class="control-label">{{vsform.ip.label}}</label>
                                        {{vsform.ip}}
                                        {% include "ipvsadmin/error-div.html" with field=vsform.ip only %}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                    <label for="{{vsform.port.id_for_label}}" class="control-label">{{vsform.port.label}}</label>
                                    {{vsform.port}}
                                    {% include "ipvsadmin/error-div.html" with field=vsform.port only %}
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="div_{{vsform.fwmark.id_for_label}}" style="display: none;">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="{{vsform.fwmark.id_for_label}}" class="control-label">{{vsform.fwmark.label}}</label>
                                        {{vsform.fwmark}}
                                        {% include "ipvsadmin/error-div.html" with field=vsform.fwmark only %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                    <label for="{{vsform.scheduler.id_for_label}}" class="control-label">{{vsform.scheduler.label}}</label>
                                    {{vsform.scheduler}}
                                        {% include "ipvsadmin/error-div.html" with field=vsform.scheduler only %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                    <label for="{{vsform.peristtimeout.id_for_label}}" class="control-label">{{vsform.peristtimeout.label}}</label>
                                    {{vsform.peristtimeout}}
                                        {% include "ipvsadmin/error-div.html" with field=vsform.peristtimeout only %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-actions text-right pal">
                        <button type="submit" class="btn btn-primary">
                            Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>