<div id="modal-config" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                    &times;</button>
                <h4 class="modal-title">
                    Confirm the deletion</h4>
            </div>
            <div class="modal-body">
                <p>
                    You sure you want to delete?<br/><span id="modal-body-footer"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">
                    Close</button>
                <button id="modal-button-delete" type="button" class="btn btn-danger">
                    Delete</button>
            </div>
        </div>
    </div>
</div>