{% for val in ipvs%}
    <tr class="{% cycle 'success' 'warning' %}">
        <td colspan="6">
            {{val.port}}
            {{val.mode}}
            {{val.persistent}}
            {{val.persistent_timeout}}
            {{val.flags}}
        </td>
    </tr>
    {% for rse in val.realserv|dictsort:"ip"%}
        <tr>
            <td></td>
            <td>{{rse.ip}}:{{rse.port}}</td>
            <td>{{rse.forward_mode}}</td>
            <td style="text-align: center;">{{rse.weight}}</td>
            <td style="text-align: right;">{{rse.active_conn}}</td>
            <td style="text-align: right;">{{rse.inact_conn}}</td>
        </tr>
        {% empty %}
            <tr>
            <td colspan="6">
                No servers
            </td>
            </tr>
    {% endfor %}
{% endfor %}


